<include file="Public:header" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugin/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="container clearfix">
    <include file="Public:left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Article/index')}">栏目管理</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Article/add')}">添加栏目</a></div>
        </div>

        <div class="result-wrap">
            <div class="result-content">
               <form class="layui-form" action="{:U('Category/add')}" method="post" enctype="multipart/form-data" id="addForm">
                  <div class="layui-form-item">
                    <label class="layui-form-label">上级栏目：</label>
                    <div class="layui-input-block w200" >
                      <select name="pid" lay-verify="required">
                        <option value="0">==顶级栏目==</option>
                        <volist name="categories" id="c">
                          <option value="{$c.id}" {$c['id']==$pid?'selected="selected"':''}>{$c.html}{$c.catname}</option>
                        </volist>
                      </select>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label ">栏目名称：</label>
                    <div class="layui-input-block w500">
                      <input type="text" name="catname" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">栏目类型：</label>
                    <div class="layui-input-block">
                      <input type="radio" name="type" value="1" title="栏目" lay-filter="default" checked>
                      <input type="radio" name="type" value="2" title="单篇" lay-filter="singer">
                      <input type="radio" name="type" value="3" title="链接" lay-filter="link">
                    </div>
                  </div>
                
                  <div class="layui-form-item content">
                    <label class="layui-form-label ">内容：</label>
                    <div class="layui-input-block">
                      <textarea name="content" id="content" style="height: 450px;"></textarea>
                    </div>
                  </div>

                  <div class="layui-form-item hide link">
                    <label class="layui-form-label ">链接地址：</label>
                    <div class="layui-input-block w500">
                      <input type="text" name="url" placeholder="请输入地址" autocomplete="off" class="layui-input" value="">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">缩略图：</label>
                    <div class="layui-input-block">
                        <img src="" class="hide thumb-img" height="100px" width="auto">
                        <input type="hidden" name="thumb" class="thumb-input" value="">
                        <input type="file" name="_thumb" id="_thumb" class="hide">
                        <button class="layui-btn upload-btn" onclick="_thumb.click();return false;">
                          <i class="layui-icon">&#xe608;</i> 栏目缩略图
                        </button>
                        <button class="del-thumb layui-btn layui-btn-primary hide">删除</button>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="status" lay-skin="switch" checked="checked" value="1" lay-text="开启|关闭">
                    </div>
                  </div>
                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-block w500">
                      <textarea name="summary" placeholder="栏目描述..." class="layui-textarea"></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">别名：</label>
                      <div class="layui-input-block">
                        <input type="tel" name="alias" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                  </div>
                   <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button type="submit" class="layui-btn submit" lay-submit="" lay-filter="*">添加</button>
                      <a href="javascript:window.history.go(-1);" class="layui-btn layui-btn-warm">返回</a>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
<include file="Public:footer" />
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form()
      ,layedit = layui.layedit
      ,laydate = layui.laydate;
        
        //文章缩略图上传
        $('#_thumb').bind('change',function(){
          //限制文件类型与大小
          var options = {
            'filePath': $(this).val()
          };
          //调用上传方法
          fileUpload(options,'#_thumb','{:U("Article/upload")}');
        });

        form.on('radio(default)', function(data){
          if(data.elem.checked){
            $('.content,.link').hide();
          }
        });
      $('.content').hide();
        form.on('radio(singer)', function(data){
          if(data.elem.checked){
            $('.content').removeClass('hide').show();
            $('.link').hide();
          }
        });

        form.on('radio(link)', function(data){
          if(data.elem.checked){
            $('.link').removeClass('hide').show();
            $('.content').hide();
          }
        });

        form.on('submit(*)', function(data){
         // layedit.sync(content_edit);
          $.ajax({
            url: '{:U("Category/add")}',
            type: 'POST',
            dataType: 'json',
            data: $('#addForm').serialize(),
            success: function(res){
              if(res.status == 0){
                layer.msg(res.msg, {icon: 2});
              }else{
                layer.msg(res.msg, {icon: 1});
                window.setTimeout(function(){
                  window.location.href = "{:U('Category/index')}";
                },1500);
              }
            }
          });
          return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
<script type="text/javascript">
  var ue = UE.getEditor('content');
</script>
</body>
</html>