<include file="Public:header" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugin/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
<div class="container clearfix">
    <include file="Public:left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Article/index')}">栏目管理</a><span class="crumb-step">&gt;</span><a class="crumb-name">修改栏目</a></div>
        </div>

        <div class="result-wrap">
            <div class="result-content">
               <form class="layui-form" action="{:U('Category/edit')}" method="post" enctype="multipart/form-data" id="addForm">
                  <div class="layui-form-item">
                    <label class="layui-form-label">上级栏目：</label>
                    <div class="layui-input-block w200" >
                      <select name="pid" lay-verify="required">
                        <option value="0">==顶级栏目==</option>
                        <volist name="categories" id="c">
                          <option value="{$c.id}" {$c['id']==$cate['pid']?'selected="selected"':''}>{$c.html}{$c.catname}</option>
                        </volist>
                      </select>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label ">栏目名称：</label>
                    <div class="layui-input-block w500">
                      <input type="text" name="catname" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" value="{$cate.catname}">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label ">栏目类型：</label>
                    <div class="layui-input-block">
                      <input {$cate['type']==1?'checked':''} disabled="" type="radio" name="type" value="1" title="栏目">
                      <input {$cate['type']==2?'checked':''} disabled="" type="radio" name="type" value="2" title="单篇" >
                      <input {$cate['type']==3?'checked':''} disabled="" type="radio" name="type" value="3" title="链接" >
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">缩略图：</label>
                    <div class="layui-input-block">
                      <img src="{$cate['thumb']}" class="{$cate['thumb']==''?'hide':''} thumb-img" height="100px" width="auto">
                        <input type="hidden" name="thumb" class="thumb-input" value="{$cate['thumb']}">
                        <input type="file" id="_thumb" class="hide">
                        <button class="layui-btn upload-btn {$cate['thumb']==''?'':'hide'}" onclick="_thumb.click();return false;">
                          <i class="layui-icon">&#xe608;</i> 栏目缩略图
                        </button>
                        <button class="del-thumb layui-btn layui-btn-primary {$cate['thumb']==''?'hide':''}">删除</button>
                    </div>
                  </div>

                  <div class="layui-form-item {$cate['type']==2?'':'hide'} content">
                    <label class="layui-form-label ">内容：</label>
                    <div class="layui-input-block">
                      <textarea name="content" id="content" style="height: 450px;">{$cate['content']}</textarea>
                    </div>
                  </div>

                  <div class="layui-form-item {$cate['type']==3?'':'hide'} link">
                    <label class="layui-form-label ">链接地址：</label>
                    <div class="layui-input-block w500">
                      <input type="text" name="url" placeholder="请输入地址" autocomplete="off" class="layui-input" value="{$cate.url}">
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-inline" style="width:auto;">
                      <input type="checkbox" name="status" lay-skin="switch" {$cate['status']=='1'?'checked="checked"':''} value="1" lay-text="开启|关闭">
                    </div>
                    <label class="layui-form-label">模版文件：</label>
                    <div class="layui-input-inline" style="width:auto;">
                      <select name="template" lay-verify="required">
                        <volist name="templates" id="t">
                          <option value="{$t}" {$t==$cate['template']?'selected="selected"':''}>{$t}</option>
                        </volist>
                      </select>
                    </div>
                    <div class="layui-input-inline">
                      <input type="checkbox" value="1" lay-verify="sub" name="app_sub" lay-skin="primary" title="应用到子栏目" {$cate['app_sub']='1'?'checked=""':''}>
                    </div>
                  </div>


                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-block w500">
                      <textarea name="summary" placeholder="栏目描述..." class="layui-textarea">{$cate['summary']}</textarea>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">别名：</label>
                      <div class="layui-input-block">
                        <input type="tel" name="alias" autocomplete="off" class="layui-input" value="{$cate['alias']}">
                      </div>
                    </div>
                  </div>
                   <div class="layui-form-item">
                    <div class="layui-input-block">
                      <input type="hidden" name="id" value="{$cate.id}">
                      <button type="submit" class="layui-btn submit" lay-submit="" >修改</button>
                      <a href="javascript:window.history.go(-1);" class="layui-btn layui-btn-warm">返回</a>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
<include file="Public:footer" />
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

        //文章缩略图上传
        $('#_thumb').bind('change',function(){
          //限制文件类型与大小
          var options = {
            'filePath': $(this).val()
          };
          //调用上传方法
          fileUpload(options,'#_thumb','{:U("Article/upload")}');
        });

        form.on('radio(default)', function(data){
          if(data.elem.checked){
            $('.content,.link').hide();
          }
        });

        form.on('radio(singer)', function(data){
          if(data.elem.checked){
            $('.content').removeClass('hide').show();
            $('.link').hide();
          }
        });

        form.on('radio(link)', function(data){
          if(data.elem.checked){
            $('.link').removeClass('hide').show();
            $('.content').hide();
          }
        });

        
        //添加栏目
        $('.submit').on('click',function(){
          $.ajax({
            url: '{:U("Category/edit")}',
            type: 'POST',
            dataType: 'json',
            data: $('#addForm').serialize(),
            success: function(res){
              console.log(res);
              if(res.status == 0){
                layer.msg(res.msg, {icon: 2});
              }else{
                layer.msg(res.msg, {icon: 1});
                window.setTimeout(function(){
                  window.location.href = "{:U('Category/index')}";
                },1500);
              }
            }
          });
          return false;
        });
    });
</script>
<script type="text/javascript">
  var ue = UE.getEditor('content');
</script>
</body>
</html>