<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name">管理员</a><span class="crumb-step">&gt;</span><span>修改密码</span></div>
        </div>

        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/edit')}" method="post" id="editForm">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th>用户名：</th>
                                <td>
                                    <input disabled="disabled" class="common-text required disabled" id="uname" name="username" size="50" value="{$admin.username}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>所属管理员组：</th>
                                <td>
                                    <div class="layui-input-inline">
                                      <select {$admin['group_id']!=='1'?'disabled="true" ':''} name="group_id" class="common-text disabled" style="width:390px;height:32px;">
                                        <volist name="groups" id="g">
                                          <option class="common-text" {$admin['group_id']==$g['id']?'selected="selected"':''} value="{$g.id}">{$g.title}</option>
                                        </volist>
                                      </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>新密码：</th>
                                <td><input id="pwd" class="common-text" name="password" size="50" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th>确认密码：</th>
                                <td><input id="pwd2" class="common-text" name="password2" size="50" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input type="hidden" name="id" value="{$admin.id}">
                                    <input class="layui-btn mr10" value="提交" type="submit">
                                    <input class="layui-btn layui-btn-primary" value="重置" type="reset">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
<include file="Public:footer" />
<script type="text/javascript">
    $(function(){
        $('#editForm').submit(function(){
            $pwd = $('#pwd').val().trim();
            $pwd2 = $('#pwd2').val().trim();
            if($pwd == ""){
                layer.tips('密码不能为空哦!', '#pwd');
                $('#pwd').val('').focus();
                return false;
            }
            if($pwd.length < 5 || $pwd.length>12){
                layer.tips('密码长度为6-12个字符!', '#pwd');
                $('#pwd').val('').focus();
                return false;
            }
            if($pwd !== $pwd2){
                layer.tips('两次输入的密码不一致', '#pwd');
                $('#pwd2').val('').focus();
                return false;
            }
            $('#uname').removeAttr('disabled');
            $.ajax({
                type:'post',
                url:'{:U("edit")}',
                data:$('#editForm').serialize(),
                dataType: 'json',
                success:function(result){
                    if(result.status == 1){
                        layer.msg(result.msg,{icon:1});
                    }else{
                        layer.msg(result.msg,{icon:2});
                    }
                    return false;
                },
                error:function(result){
                    layer.msg('网络错误!',{icon:2});
                }
            });
            $('#uname').attr('disabled','disabled');
            return false;
        });
    });
</script>
</body>
</html>