<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">管理员</span></div>
        </div>

        <div class="result-wrap">
            <form method="post" action="" class="sortForm">
                <div class="result-title">
                    <div class="result-list">
                        <a class="addMember" href="#"><i class="iconfont">&#xe762;</i>添加管理员</a>
                    </div>
                </div>
                <div class="result-content" style="max-height: 850px;overflow: auto;">
                    <table class="layui-table">
                      <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th>名称</th>
                            <th width="10%">所属用户组</th>
                            <th width="10%">状态</th>
                            <th width="15%">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="admins" id="vo">
                        <tr data-id={$vo.id}>
                            <td width="3%">{$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo['auth_group'][0]['title']}</td>
                            <td class="layui-form">
                            <if condition="$vo.status eq 1 ">
                                <input data-id="{$vo.id}" type="checkbox" checked="" name="status" lay-skin="switch" lay-filter="status" lay-text="正常|锁定" value="1">
                            <else/>
                                  <input data-id="{$vo.id}" type="checkbox" name="status" lay-skin="switch" lay-filter="status" lay-text="正常|锁定" value="0">
                            </if>
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a title="编辑" class="editLink layui-btn layui-btn-small" href="{:U('Admin/edit',array('id'=>$vo['id']))}">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                <if condition="$vo.id neq 1 ">
                                    <a title="删除" class="layui-btn layui-btn-small layui-btn-danger delOneLink" href="javascript:;" data-id="{$vo.id}">
                                        <i class="layui-icon">&#xe640;</i>
                                    </a>
                                 </if>
                                </div>
                            </td>
                        </tr>
                      </volist>
                      </tbody>
                    </table>
                    <div class="result-title">
                        <div class="result-list">
                            <a class="addMember" href="javascript:;"><i class="iconfont">&#xe762;</i>添加管理员</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="addWrap" style="display: none; padding-top:10px;padding-right:10px;padding-bottom: 10px;">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
              <input type="username" name="username" required  lay-verify="required" placeholder="请输入管理员帐号" autocomplete="off" class="layui-input" id="uname">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
              <input type="password" name="password" required  lay-verify="required" placeholder="请输入管理员密码" autocomplete="off" class="layui-input password">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
              <input type="password" name="password2" required  lay-verify="pass" placeholder="请再次输入管理员密码" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">所属分组</label>
            <div class="layui-input-inline">
              <select name="group_id">
                <volist name="groups" id="g">
                  <option value="{$g.id}">{$g.title}</option>
                </volist>
              </select>
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
               <input type="checkbox" value="1" checked="" name="status" lay-skin="switch" lay-filter="switchTest" lay-text="开启|锁定">
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">立即添加</button>
            </div>
          </div>
        </form>
    </div>
    <!--/main-->
<include file="Public:footer"/>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form','layer'], function(){
        var layer = layui.layer
        ,form = layui.form();

        //表单验证
        form.verify({
          pass: function(value){
            if(value !== $('.password').val()){
              return '两次密码不一致';
            }
          }
        }); 

        form.on('switch(status)', function(data){
          var id = $(data.elem).data('id');
          var status = 0;
          if(data.elem.checked) status = 1;

          $.ajax({
            url: '{:U("admin/updateStatus")}',
            type: 'post',
            dataType: 'json',
            data: {'id': id,'status': status},
            success: function(res){
              layer.msg(res.msg,{icon:1});
            }
          });
        });  

        //监听提交
        form.on('submit(formDemo)', function(data){
          $.ajax({
            url: '{:U("Admin/add")}',
            type: 'post',
            dataType: 'json',
            data: $(data.form).serialize(),
            success: function(res){
              if(res.status == 1){
                layer.alert(res.msg,{icon:1});   
                window.setTimeout(function(){
                  window.location.href = "{:U('Admin/index')}";
                },1500);
              }else{
                layer.alert(res.msg,{icon:2}); 
              }
            },
            error: function(res){
              console.log(res);
            }
          });
          return false;
        });
});
    //删除单个管理员
    $(function(){
        $('.delOneLink').on('click',function(){
                $trEle = $(this).parents('tr');//当前的tr节点
                var url = "{:U('Admin/del')}";//提交删除的地址
                var eleId = $trEle.data('id');//当前的id
                //提示
                layer.confirm('确定要删除该用户？', {icon: 3, title:'提示'}, function(index){
                ajaxDeleteElems(eleId,url,'post',$trEle);
            });
        });
    });
    //添加会员
    $('.addMember').click(function(){
        layer.open({
          type: 1,
          title: '添加管理员组',
          closeBtn: 1,
          area: ['360px', 'auto'],
          shadeClose: true,
          content: $('#addWrap'),
        });
    });

    //验证用户名是否存在
    $(function(){
      $('.password').on('focus',function(){
        var uname = $('#uname').val();
        if($.trim(uname).length < 3){
            $('#uname').focus();
            layer.tips('用户名长度必须大于2且不能为空!', '#uname', {
              tips: [4, '#FF5722']
            });
          return false;
        }
        $.ajax({
          url: '{:U("admin/checkUname")}',
          type: 'POST',
          dataType: 'json',
          data: {'uname': uname},
          success: function(res){
            if(res.status == 1){
              layer.tips(res.msg, '#uname', {
                tips: [4, '#78BA32']
              });
            }else{
              $('#uname').focus();
              if(res.msg){
                layer.tips(res.msg, '#uname', {
                  tips: [4, '#FF5722']
                });
              }else{
                layer.tips(res.info, '#uname', {
                  tips: [4, '#FF5722']
                });
              }
            }
          },
        });
      });
    });

</script>
</body>
</html>