<script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
	$('.logout').on('click',function(){
	    //询问框
	    layer.confirm('您确定要退出?', {icon: 3, title:'提示'}, function(index){
	        $.get('{:U("Index/logout")}',function(){
	            window.location.href = "{:U('Login/index')}";
	        });              
	      layer.close(index);
	    });   
	});
</script>