<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="javascript:;"><i class="icon-font">&#xe003;</i>内容管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Article/index')}"><i class="icon-font">&#xe008;</i>文章管理</a></li>
                        <li><a href="{:U('Category/index')}"><i class="icon-font">&#xe005;</i>栏目管理</a></li>
                        <li><a href="{:U('Contact/index')}"><i class="icon-font">&#xe006;</i>留言管理</a></li>
                        <li><a href="{:U('Comment/index')}"><i class="icon-font">&#xe012;</i>评论管理</a></li>
                        <li><a href="{:U('Links/index')}"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                        <li><a href="{:U('Banner/index')}"><i class="icon-font">&#xe033;</i>广告管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>用户管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Member/index')}"><i class="icon-font">&#xe008;</i>网站会员</a></li>
                        <li><a href="{:U('Admin/index')}"><i class="icon-font">&#xe005;</i>管理员</a></li>
                        <li><a href="{:U('Admin/group')}"><i class="icon-font">&#xe033;</i>管理员组</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>权限管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Rule/index')}"><i class="icon-font">&#xe008;</i>权限列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('System/index')}"><i class="icon-font">&#xe017;</i>系统信息</a></li>
                        <li><a href="{:U('Cache/index')}"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                        <li><a href="{:U('Data/backup')}"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                        <li><a href="{:U('Data/reduct')}"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>扩展功能</a>
                    <ul class="sub-menu">
                        <li><a href="system.html"><i class="icon-font">&#xe017;</i>图片/水印</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe037;</i>验证码</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe046;</i>语言</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>