<div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="javascript:;"><i class="iconfont">&#xe685;</i>内容管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Article/index')}"><i class="iconfont">&#xe66a;</i>文章管理</a></li>
                        <li><a href="{:U('Category/index')}"><i class="iconfont">&#xe60d;</i>栏目管理</a></li>
                        <li><a href="{:U('Contact/index')}"><i class="iconfont">&#xe61b;</i>留言管理</a></li>
                        <li><a href="{:U('Comment/index')}"><i class="iconfont">&#xe621;</i>评论管理</a></li>
                        <li><a href="{:U('Links/index')}"><i class="iconfont">&#xe636;</i>友情链接</a></li>
                        <li><a href="{:U('Banner/index')}"><i class="iconfont">&#xe622;</i>广告管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="iconfont">&#xe601;</i>用户管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Member/index')}"><i class="iconfont">&#xe64b;</i>网站会员</a></li>
                        <li><a href="{:U('Admin/index')}"><i class="iconfont">&#xe7e1;</i>管理员</a></li>
                        <li><a href="{:U('Admin/group')}"><i class="iconfont">&#xe605;</i>管理员组</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="iconfont">&#xe691;</i>权限管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Rule/index')}"><i class="iconfont">&#xe644;</i>权限列表</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="iconfont">&#xe646;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('System/index')}"><i class="iconfont">&#xe78a;</i>系统设置</a></li>
                        <li><a href="javascript:;" class="clearCache"><i class="iconfont">&#xe6fa;</i>清空缓存</a></li>
                        <li><a href="{:U('System/backup')}"><i class="iconfont">&#xe634;</i>数据备份</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="iconfont">&#xe60e;</i>扩展功能</a>
                    <ul class="sub-menu">
                        <li><a href="system.html"><i class="iconfont">&#xe641;</i>静态页面</a></li>
                        <li><a href="system.html"><i class="iconfont">&#xe64f;</i>语言设置</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>