<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们单页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li class="active"><a href="">关于我们</a></li>
							<li><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position">
			<div class="container clear">
				<div class="left float_l">
					<p>
						<span class="h2">
							关于我们
						</span>
						<span class="h4">About Us </span>
					</p>
				</div>
				<div class="right float_r">
					<p>
						<i class="icon-home"></i>
						<a href="">首页</a>>
						<a href="">关于我们</a>
					</p>
				</div>
			</div>
		</div>

		<div class="wrap content mb50">
			<div class="container">
				<h2>启航创客</h2>				
				<p>深圳市启航创客科技有限公司是一家领先的青少年创客教育服务商，为中小学学校提供创客空间设计搭建、创客课程、创客师资培训、创客电子物料等专业服务。</p>
				<img src="images/about01.jpg" class="auto_img">	
				<h2>启航理念</h2>			
				<p>你微笑，我开心。你成功，我荣誉。</p>
				<img src="images/about02.jpg" class="auto_img">
				<h2>启航寓意</h2>			
				<p>提早启发孩子的创新思维，在接受创新事物的基础上让学生从小赢在起跑线，早早提高孩子动手能力，创新思维能力。</p>
				<img src="images/about03.jpg" class="auto_img">

				<h2>启航创客业务</h2>			
				<p>为中小学学校提供创客空间一站式解决方案。 培育青少年的动手能力、观察力、审美力、独立思考能 培养创客教育师资团队，推动创客教育的可持续发展。</p>
				<img src="images/about04.jpg" class="auto_img">

				<h2>启航创客目标</h2>			
				<p>培养青少年的创新力、执行力、领导力，让青少年赢在起跑线上。</p>
				<img src="images/about05.jpg" class="auto_img">						
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
