<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>教学套件-单页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li class="active"><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position sub_nav">
			<div class="container">
				<p>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a class="active" href="">教学套件</a>
					<a href="">中小学创客空间</a>
				</p>
			</div>
		</div>
		<div class="content mb50">
			<div class="container">
				<h2>教学套件</h2>				
				<img src="images/教学套件_01.jpg" class="pd10 auto_img">
				<img src="images/教学套件_02.jpg" class="pd10 auto_img" style="margin-top:40px;">
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
