<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>社会创客-单页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li class="active"><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position sub_nav">
			<div class="container">
				<p>
					<a href="">中小学创客空间</a>
					<a class="active" href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
				</p>
			</div>
		</div>
		<div class="content mb50">
			<div class="container">
				<h2>社会创客空间建设“框架”</h2>				
				<p>社会创客空间包含物理空间层、服务支持层、协同创新层。物理空间层则包括制作区、教学区、展示区等功能模块；服务支持层包含创客定制家具、加工制
				作设备、开源硬件等；协同创新层则包括空间管理、知识开放平台管理、项目团队管理等模块。</p>
					
				<img src="images/sh01.jpg" class="auto_img">
				<h2>公共区</h2>
				<div class="width100 clear">
					<img src="images/sh02.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_5.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>用于发布项目公告和召集，同时可以进行创客团队的招募。
						可以在这里进行休息，还可以把这个空间作为临时的住宿
						区、自动开源硬件的售货机、讨论区和工作区。由于空间
						相对开放所以使用更加自由，它也可以成为项目工作室、
						小会议室、接待区。</p>
					</div>
				</div>
				<h2>展示区</h2>
				<div class="width100 clear">
					<img src="images/sh03.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_7.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>创业团队可以在此进行创意和作品展示、开源项目展示、
						原理数学展示。在此处还设有互动电子科教橱窗和作品橱
						窗区，创客们可以将自己的作品展示在橱窗。</p>
					</div>
				</div>
				<h2>制作区</h2>
				<div class="width100 clear">
					<img src="images/sh04.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_9.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>此处区域，利用多功能柜和梯形展示台，展示学生创客作
							品。多功能柜主要陈列数量众多的学生创新作品和需要保
							护的作品，梯形展示台陈列作品适合与观众互动；项目展
							示区同时也用于陈列经典创客展品，开扩学生眼界，启发
							学生创新灵感，同时学生也可以在此功能区展示自己的作
							品，并分享、讲解各自的作品。</p>
					</div>
				</div>
				<h2>分享区</h2>
				<div class="width100 clear">
					<img src="images/sh05.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_11.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>在这里可以进行创意分享，与伙伴们一起谈论分享你的创
						意共同进步。可以随情况把它变为互动课堂，定期举办创
						客论坛等。</p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
