<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创客教育-单页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li class="active"><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position sub_nav">
			<div class="container">
				<p>
					<a class="active" href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
				</p>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<h2>中小学创客空间</h2>				
				<p> 创客教室空间用于培养学生的创新能力，让学生的新奇创意思维变成现实。</p>
				<img src="images/show_ck01.jpg" class="auto_img">
				<h2>存储区：</h2>				
				<p>用于完成创客基础知识教学，创客基础知识教学的内容主要包括“编程技术、硬件构成、机械结构、创客工具操作等”，通过基础知识的学习，让学生具备基
				础的知识与技能，通过基础知识的学习后，学生要具备完成设计、制作自己的作品的能力。</p>
				<h2>头脑风暴区：</h2>				
				<p>此功能设立的目的是：用于创客教育学习小组的“成员成立、项目组讨论、问题求助、经验成果分享”等各种信息资源交流讨论。召集小组成员、完善作品创
		意设计、确定开源硬件选型、小组分工等事项，同时小组也可在该区寻求帮助、分享经验等。</p>
				<img src="images/show_ck02.jpg" class="auto_img">
				<h2>展示区：</h2>
				<p>此处区域，利用多功能柜和梯形展示台，展示学生创客作品。多功能柜主要陈列数量众多的学生创新作品和需要保护的作品，梯形展示台陈列作品适合与观众
互动；项目展示区同时也用于陈列经典创客展品，开扩学生眼界，启发学生创新灵感，同时学生也可以在此功能区展示自己的作品，并分享、讲解各自的作品。</p>
				<img src="images/show_ck03.jpg" class="auto_img">
				<h2>制作区：</h2>
				<p>此功能区的设立的目的是：学生在这里将想法变成现实，将创意转化为作品，提供制作作品所需要的给类材料，以及对材料进行加工的工具，包括3D打印机、
激光切割机、各类桌面型小机床和学生可以自主操作的数控机床等一系列的加工制造设备和耗材。</p>		
				<img src="images/show_ck04.jpg" class="auto_img">
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
