<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创客教育-单页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li class="active"><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position sub_nav">
			<div class="container">
				<p>
					<a href="">中小学创客空间</a>
					<a class="active" href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
					<a href="">中小学创客空间</a>
				</p>
			</div>
		</div>
		<div class="content mb50">
			<div class="container">
				<h2>高校创客空间</h2>				
				<p>高校创客空间就是为创客师生们提供实现创意和交流创意思路及产品的线下和线上相结合、创新和交友相结合的社区平台。高校创客空间，除了为创客们提
				供脑洞大， 为满足不同群体需求，对整体空间进行分区，包括签到区、工作区、讨论区、制作区、协同区、休息区与展示区。空间整体以从动到静的形式分
				布，方便必要时在分区间进行自由组合或隔断开的场所之外，最重要的是促进学生深度创新，以及团队协作。</p>
					
				<img src="images/高校创客空间_01.jpg" class="auto_img">
				<h2>工作区</h2>
				<div class="width100 clear">
					<img src="images/高校创客空间_02.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_03.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>考虑到不同的学习模式，工作区可以自由组合桌椅完成不
	同模式之间的转换。小组模式、配备团队形课桌的小组模
	式、讨论模式、讲座模式和考试模式等。</p>
					</div>
				</div>
				<h2>头脑风暴区</h2>
				<div class="width100 clear">
					<img src="images/高校创客空间_4.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_5.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>用于创客教育学习小组的“成员成立、项目组讨论、问题
求助、经验成果分享”等各种信息资源交流讨论。召集小
组成员、完善作品创意设计、确定开源硬件选型、小组分
工等事项，同时小组也可在该区寻求帮助、分享经验等。</p>
					</div>
				</div>
				<h2>展示区</h2>
				<div class="width100 clear">
					<img src="images/高校创客空间_6.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_7.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>此处区域，利用多功能柜和梯形展示台，展示学生创客作
						品。多功能柜主要陈列数量众多的学生创新作品和需要保
						护的作品，梯形展示台陈列作品适合与观众互动；项目展
						示区同时也用于陈列经典创客展品，开扩学生眼界，启发
						学生创新灵感，同时学生也可以在此功能区展示自己的作
						品，并分享、讲解各自的作品。</p>
					</div>
				</div>
				<h2>制作区</h2>
				<div class="width100 clear">
					<img src="images/高校创客空间_8.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_9.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>学生在这里将想法变成现实，将创意转化为作品，提供制
						作作品所需要的给类材料，以及对材料进行加工的工具，
						包括3D打印机、激光切割机、各类桌面型小机床和学生可
						以自主操作的数控机床等一系列的加工制造设备和耗材。</p>
					</div>
				</div>
				<h2>休息区</h2>
				<div class="width100 clear">
					<img src="images/高校创客空间_10.jpg" class="pd10 float_l">
					<img src="images/高校创客空间_11.jpg" class="pd10 float_l">
					<div class="float_l width420">
						<p>
						此功能区的设立的目的是
						</p>
						<p>一个非正式的社交环境，支持人与人之间沟通联系，建立
						信任，并且便于提供茶点。它让创客们在这个环境里社交，
						为它们营造归属感。
						单人、双人、多人，咖啡区可以是自助形式也可以是经营
						形式。一个轻松、公认休憩，恢复能量的空间。</p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
