<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务支持-单页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li class="active"><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position sub_nav">
			<div class="container">
				<p>
					<a class="active" href="">师资培训</a>
					<a href="">赛事活动</a>
				</p>
			</div>
		</div>
		<div class="content list service">
			<div class="container">
				<ul>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_03.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_06.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_08.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_10.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_12.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
				</ul>
				<div class="pages">
					<p>
						<a href=""><</a>
						<span>1</span>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">></a>
					</p>
				</div>
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
