<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创客教育-首页</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li class="active"><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="row">
			<div class="container clear">
				<div class="img float_l">
					<img alt="" width="300px" height="300px" src="images/row01.png" />
				</div>
				<div class="text float_r">
					<h2>创客与教育的融合</h2>
					<p>将创客文化和教育结合，基于学生的兴趣，以项目学习的方式、使用数字化的工
						具、倡导造物、鼓励分享，培养跨学科解决问题能力、团队协作能力和创新能力
						的一种素质教育。
					</p>
				</div>
			</div>
		</div>
		<div class="row bg">
			<div class="container clear">
				<div class="text float_l">
					<h2>教育部：鼓励探索STEAM教育创客教育等新教育模式</h2>
					<p>有效利用信息技术推进“众创空间”建设，探索STEAM教育、创客教育等新
						教育模式，使学生具有较强的信息意识与创新意识，使信息化教学真正成为
						教师教学活动的常态。
					</p>
				</div>
				<div class="float_r">
					<img alt="" width="450px" height="410px" src="images/row02.png" />
				</div>
			</div>
		</div>
		<div class="row map">
			<div class="container">
				<div class="float_l">
					<img alt="" width="500px" height="410px" src="images/row03.png" />
				</div>
				<div class="text float_r">
					<h2>全世界有1876个知名的创客空间</h2>
					<p>截止12月11号，全世界有1876个知名创客空间，其中国外知名创客空间Noise
bridge Blog、METALAB、Techshop等，国内知名创客空间有新车间、创客空
间、柴火创客空间、启航创客等。
					</p>
				</div>
			</div>
		</div>
		<div class="row-sl">
			<div class="desc">
				<h2>创客课程思路 </h2>
				<p>以培养学习者，特别是青少年学习者的创客素养为导向的教育模式。它包含正式学习，也包含贯穿学习者一生的非正式学习。</p>
			</div>
			<div class="nav">
				<ul>
					<li>
						<div>
							<div class="img">
								<img src="images/thumb1.png" width="120px" height="120px" alt="">
							</div>
							<h2>小学</h2>
							<p>发明制作一个有趣的玩具，感受造物乐趣，
								培养探究精神及动手实践的兴趣和能力学
								会简单编程，学习定格动画制作等。</p>
						</div>
					</li>
					<li>
						<div>
							<div class="img">
								<img src="images/thumb2.png" width="120px" height="120px" alt="">
							</div>
							<h2>初中</h2>
							<p>综合活动与工作坊相结合，让学生“做中玩、
								玩中学”，以arduino和图形化编程为基础，
								融合各学科知识，培养动手解决问题的能力。</p>
						</div>
					</li>
					<li class="last">
						<div>
							<div class="img">
								<img src="images/thumb3.png" width="120px" height="120px" alt="">
							</div>
							<h2>高中</h2>
							<p>发明制作一个有趣的玩具，感受造物乐趣，
								培养探究精神及动手实践的兴趣和能力学
								会简单编程，学习定格动画制作等。</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="en clear">
			<div class="text width50 float_l">
				<div class="wrap">
					<h2>创客教育在美国</h2>
					<p>奥巴马在2009年的竞选演讲中说：“我希望我们所有人去思考创新的
						方法，激发年轻人从事到科学和工程中来，鼓励年轻人去创造、构建
						和发明——去做事物的创造者，而不仅仅是事物的消费者“。2012年
						初美国政府又推出一个新项目，计划在未来四年内在1000所美国学校
						引入创客空间。
					</p>
				</div>
			</div>
			<div class="img width50 float_l">
				<img src="images/en.jpg">
			</div>
		</div>
		<div class="en cn clear">
			<div class="img width50 float_l">
				<img src="images/cn.jpg">
			</div>
			<div class="text width50 float_l clear">
				<div class="wrap float_l">
					<h2>创客教育进中国</h2>
						<p>李克强主持召开国务院常务会议，确定支持发展“众创空间”的政策措施为创业创新搭建新平台，在内的各类青年创新人才和创新团队，带动扩大
						就压，打造经济发展新的“发动机”，具有重要意义。医药在创客空间、
						创新工厂等孵化模式的基础上，大力发展市场化、专业化、集成化、网络
						化的模式
					</p>
				</div>
			</div>
		</div>
		<div class="listbar">
			<div class="container">
				<div class="h2">
					<h2>创客教育课堂 —为学生筑“造梦空间”</h2>
				</div>
				<div class="list">
					<ul>
						<li>
							<a href="">
								<img src="images/list01.jpg" alt="" width="276px" height="185px">
							</a>
						</li>
						<li>
							<a href="">
								<img src="images/list02.jpg" alt="" width="276px" height="185px">
							</a>
						</li>
						<li class="last">
							<a href="">
								<img src="images/list03.jpg" alt="" width="276px" height="185px">
							</a>
						</li>
						<li>
							<a href="">
								<img src="images/list01.jpg" alt="" width="276px" height="185px">
							</a>
						</li>
						<li>
							<a href="">
								<img src="images/list02.jpg" alt="" width="276px" height="185px">
							</a>
						</li>
						<li class="last">
							<a href="">
								<img src="images/list03.jpg" alt="" width="276px" height="185px">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="zuopin">
			<div class="container">
				<div class="h2">
					<h2>创客教育课堂 —为学生筑“造梦空间”</h2>
				</div>
				<div class="list">
					<ul>
						<li>
							<div class="img">
								<a href="">
									<img src="images/z01.jpg" width="312px" height="200px">
								</a>
							</div>
							<a href="">
								水立方
							</a>
						</li>
						<li>
							<div class="img">
								<a href="">
									<img src="images/z02.jpg" width="312px" height="200px">
								</a>
							</div>
							<a href="">
								水立方
							</a>
						</li>
						<li class="last">
							<div class="img">
								<a href="">
									<img src="images/z03.jpg" width="312px" height="200px">
								</a>
							</div>
							<a href="">
								水立方
							</a>
						</li>
						<li>
							<div class="img">
								<a href="">
									<img src="images/z01.jpg" width="312px" height="200px">
								</a>
							</div>
							<a href="">
								水立方
							</a>
						</li>
						<li>
							<div class="img">
								<a href="">
									<img src="images/z02.jpg" width="312px" height="200px">
								</a>
							</div>
							<a href="">
								水立方
							</a>
						</li>
						<li class="last">
							<div class="img">
								<a href="">
									<img src="images/z03.jpg" width="312px" height="200px">
								</a>
							</div>
							<a href="">
								水立方
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="case mgb90">
			<div class="container">
				<div class="h2">
					<h2>创客教育案例</h2>
				</div>
				<div class="list">
					<ul>
						<li>
							<div class="img">
								<a href="">
									<img src="images/case01.jpg" width="340px" height="240px">
								</a>
							</div>
							<a href="">
								启航创客案例 1
							</a>
						</li>
						<li>
							<div class="img">
								<a href="">
									<img src="images/case02.jpg" width="340px" height="240px">
								</a>
							</div>
							<a href="">
								启航创客案例 1
							</a>
						</li>
						<li class="last">
							<div class="img">
								<a href="">
									<img src="images/case03.jpg" width="340px" height="240px">
								</a>
							</div>
							<a href="">
								启航创客案例 1
							</a>
						</li>
					</ul>
				</div>
				<div class="more">
					<a href="">查看更多></a>
				</div>
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
