<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻资讯-详情页</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">创客教育</a></li>
							<li class="active"><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="flexslider">
			<ul class="slides">
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
				<li style="background:url(images/banner01.jpg) 50% 0 no-repeat;"></li>
			</ul>
		</section>
		<div class="position">
			<div class="container clear">
				<div class="left float_l">
					<p>
						<span class="h2">
							新闻资讯
						</span>
						<span class="h4">News Information</span>
					</p>
				</div>
				<div class="right float_r">
					<p>
						<i class="icon-home"></i>
						<a href="">首页</a>>
						<a href="">新闻资讯</a>
					</p>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="new_title">
					<h2>创客教育的理论融合</h2>
					<span class="date">发布日期：2016-12-16    编辑：启航创客</span>
				</div>
				<div class="con">
					<p>体验教育的核心是学生在主动积极参与的情况下进行学习，学生是学习的中心，重要的不是学习成果，而是学习过程 ，创客教育强调了体验教育中的深度参与，继承了在实践中学习的思想。项目学习法理论基础和体验教育相似，认为学生能够在互相协作完成一个特定任务和解决问题的过程当中进行学习，以一个特定的学习任务为中心，培养学生解决问题的能力。在我国，创新教育是中央教育研究院在1998年正式提出的理念，在教育学界引起了很大的反响，并有效地推动了我国教育改革的进行，以培养学生的创新意识、创新思维以及创新能力为目标。</p>
					<img src="images/show_news.jpg" class="auto_img">
					<p>DIY理念强调培养自己动手的能力和享受自己动手的成果，在创客运动中发挥了不小的影响，以培养学生的动手创建、精益求精、尚宫重器的“工匠精神”。发明制作一个有趣的玩具，感受造物乐趣，培养探究精神及动手实践的兴趣和能力学会简单编程，学习定格动画制作等。
综合活动与工作坊相结合，让学生“做中玩、玩中学”，以arduino和图形化编程为基础，融合各学科知识，培养动手解决问题的能力。</p>
				</div>
				<div class="fenx mt50">
					<div class="bdsharebuttonbox" data-tag="share_1">
						<a class="bds_qzone" data-cmd="qzone" href="#"></a>
						<a class="bds_tsina" data-cmd="tsina"></a>
						<a class="bds_baidu" data-cmd="baidu"></a>
						<a class="bds_renren" data-cmd="renren"></a>
						<a class="bds_tqq" data-cmd="tqq"></a>
						<a class="bds_more" data-cmd="more">更多</a>
						<a class="bds_count" data-cmd="count"></a>
					</div>
				</div>
				<div class="pages plu">
					<p>
						<a href=""><</a>
						<a href="">></a>
					</p>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
		</script>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
