<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创客教育注册页面</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/page.css" />
		<link rel="stylesheet" href="css/login.css">
		<link rel="stylesheet" href="css/footer.css">
		<!--[if lt IE 9]>
        	<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<header>
			<div class="container clear">
				<div class="logo float_l">
					<a href="">
						<img alt="" src="images/logo.jpg" width="150px" height="115px" />
					</a>
				</div>	
				<div class="nav float_l">
					<nav>
						<ul>
							<li><a href="">首页</a></li>
							<li><a href="">关于我们</a></li>
							<li><a href="">创客教育</a></li>
							<li><a href="">新闻资讯</a></li>
							<li><a href="">下载中心</a></li>
							<li><a href="">服务与支持</a></li>
							<li><a href="">成功案例 </a></li>
							<li><a href="">联系我们</a></li>
						</ul>
					</nav>
				</div>
				<div class="user float_r">
					<a href="javascript:;">
						<i class="icon-user"></i>
					</a>
					<a href="javascript:;" id="user-dowm">
						<i class="icon-dowm"></i>
					</a>
					<div class="user-box">
						<ul>
							<li><a href="">登录</a></li>
							<li><a href="">注册</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<div class="login register">
			<div class="container">
				<div class="login_bar">
					<div class="title">
						<h2>会员注册</h2>
						<span>Member Registration</span>
					</div>
					<div class="inputs">
						<p>
							<label for="username">用户名：</label>
							<input type="text" name="username" id="username" value="">
						</p>
						<p class="error">
							<i class="icon-error"></i>
							<span>用户名错误</span>
						</p>
						<p>
							<label for="password">密　码：</label>
							<input type="text" name="password" id="password" value="">
						</p>
						<p class="error">
							<i class="icon-error"></i>
							<span>密码错误</span>
						</p>
						<p>
							<label for="password2">确认密码:</label>
							<input type="text" name="password2" id="password2" value="">
						</p>
						<p class="error">
							<i class="icon-error"></i>
							<span>密码错误</span>
						</p>
						<p>
							<label for="email">邮　箱：</label>
							<input type="text" name="email" id="email" value="">
						</p>
						<p class="error">
							<i class="icon-error"></i>
							<span></span>
						</p>
						<p>
							<label for="nickname">昵　称：</label>
							<input type="text" name="nickname" id="nickname" value="">
						</p>
						<p class="error">
							<i class="icon-error"></i>
							<span></span>
						</p>
						<p class="birthday">
							<label for="birth">生　日：</label>
							<input type="text" class="datepicker" name="birth" id="birth" value="" data-date-format="yyyy-mm-dd">
							<i class="icon-birth"></i>
						</p>
						<p class="error">
							<i class="icon-error"></i>
							<span></span>
						</p>
						
						<p class="redpass">
							<input type="checkbox" name="redpwd">
							<span class="middle">同意阅读注册协议</span>
							<a href="" class="middle color-error">请阅读协议</a>
						</p>
						
					</div>
					<div class="submit">
						<p>
							<input class="login_btn" type="submit" name="submit" value="同意协议，立即注册">
						</p>
						<p class="register">
							已有创客会员账号，<a class="color-error" href="">马上登录</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container clear">
				<div class="stu float_l">
					<h2 class="h2">创客教育</h2>
					<p><a href="">中小学创客空间</a></p>
					<p><a href="">高效创客空间</a></p>
					<p><a href="">社会创客空间</a></p>
				</div>
				<div class="contact float_l">
					<h2 class="h2">联系我们</h2>
					<p>热线：0755-8888-8888</p>
					<p>邮箱：postmaster@szqcmaker.com</p>
					<p>地址:深圳市龙华新区明治街道上塘综路722室</p>
				</div>
				<div class="about float_l">
					<h2 class="h2">关于我们</h2>
					<p class="i">
						<a href="">
							<i class="icon-botton icon-qq"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-weixin"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-sina"></i>
						</a>
						<a href="">
							<i class="icon-botton icon-face"></i>
						</a>
					</p>
					<p>版权所有：2016-2026 启航创客教育</p>
				</div>
				<div class="qcode float_r">
					<img src="images/code.jpg">
					<p>扫一扫，关注我们！</p>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="js/jquery-1.11.min.js" ></script>
		<script type="text/javascript" src="js/jquery.flexslider-min.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
