<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="#">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">权限管理</span></div>
        </div>

        <div class="result-wrap">
            <form method="post" action="" class="layui-form sortForm">
                <div class="result-content" style="max-height: 600px;overflow: auto;">
                    <fieldset class="layui-elem-field layui-field-title">
                    <legend>系统设置</legend>
                  </fieldset>
                   
                  <div class="layui-tab layui-tab-card">
                    <ul class="layui-tab-title">
                      <li class="layui-this">网站信息</li>
                      <li>SEO设置</li>
                      <li>附件上传</li>
                      <li>水印设置</li>
                    </ul>
                    <div class="layui-tab-content" style="min-height: 360px;">
                      <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                          <label class="layui-form-label">站点标题</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">站点地址</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="http://www.baidu.com">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">ico图标</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">电话</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">手机</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">传真</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">Email</label>
                          <div class="layui-input-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="">
                          </div>
                        </div>
                      </div>
                      <div class="layui-tab-item">2</div>
                      <div class="layui-tab-item">3</div>
                      <div class="layui-tab-item">4</div>
                    </div>
                  </div>
                </div>
                <div class="site-demo-button" style="margin-left: 50px;">
                  <button class="layui-btn site-demo-active submit">保存设置</button>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
<include file="Public:footer"/>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer','element'], function(){
        var layer = layui.layer
        ,element = layui.element();
});
      $(function(){
        $('.submit').on('click',function(){
          var url = "{:U('System/set')}";

          return false;
        });
      });
</script>
</body>
</html>