<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a>首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">系统设置</span></div>
        </div>

        <div class="result-wrap">
            <form method="post" action="{:U('System/set')}" class="layui-form sortForm">
                <div class="result-content" style="max-height: 600px;overflow: auto;">
                    <fieldset class="layui-elem-field layui-field-title">
                    <legend>系统设置</legend>
                  </fieldset>
                   
                  <div class="layui-tab layui-tab-card">
                    <ul class="layui-tab-title">
                      <li class="layui-this">网站信息</li>
                      <li>底部信息</li>
                      <li>SEO设置</li>
                      <li>附件上传</li>
                      <li>水印设置</li>
                      <li>第三方代码</li>
                    </ul>
                    <div class="layui-tab-content" style="min-height: 360px;">
                      <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                          <label class="layui-form-label">站点名称</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_NAME" autocomplete="off" class="layui-input" value="{$Think.config.SITE_NAME}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">站点地址</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_URL" autocomplete="off" class="layui-input" placeholder="http://www.baidu.com" value="{$Think.config.SITE_URL}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">网站LOGO</label>
                            <div class="layui-input-block">
                                <if condition="$Think.config.SITE_LOGO neq '' ">
                                  <img src="{$Think.config.SITE_LOGO}" class="thumb-img" height="100px" width="auto">
                                  <input type="hidden" name="SITE_LOGO" class="thumb-input" value="{$Think.config.SITE_LOGO}">
                                  <input type="file" id="SITE_LOGO" class="hide">
                                  <button class="layui-btn upload-btn layui-btn-disabled" onclick="document.getElementById('SITE_LOGO').click();return false;">
                                    <i class="layui-icon">&#xe608;</i> 上传
                                  </button>
                                  <button class="del-thumb layui-btn layui-btn-primary">删除</button>
                                <else />
                                  <img src="{$Think.config.SITE_LOGO}" class="hide thumb-img" height="100px" width="auto">
                                  <input type="hidden" name="SITE_LOGO" class="thumb-input" value="{$Think.config.SITE_LOGO}">
                                  <input type="file" id="SITE_LOGO" class="hide">
                                  <button class="layui-btn upload-btn" onclick="document.getElementById('SITE_LOGO').click();return false;">
                                    <i class="layui-icon">&#xe608;</i> 上传
                                  </button>
                                  <button class="del-thumb layui-btn layui-btn-primary hide">删除</button>
                                </if>
                            </div>
                          </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">ICO图标</label>
                          <div class="layui-input-block">
                              <if condition="$Think.config.SITE_ICO neq '' ">
                                  <img src="{$Think.config.SITE_ICO}" class="thumb-img" height="30px" width="auto">
                                  <input type="hidden" name="SITE_ICO" class="thumb-input" value="">
                                  <input type="file" id="SITE_ICO" class="hide">
                                  <button class="layui-btn upload-btn layui-btn-disabled" onclick="document.getElementById('SITE_ICO').click();return false;">
                                    <i class="layui-icon">&#xe608;</i> 上传
                                  </button>
                                  <button class="del-thumb layui-btn layui-btn-primary">删除</button>
                                <else />
                                  <img src="{$Think.config.SITE_ICO}" class="hide thumb-img" height="30px" width="auto">
                                  <input type="hidden" name="SITE_ICO" class="thumb-input" value="">
                                  <input type="file" id="SITE_ICO" class="hide">
                                  <button class="layui-btn upload-btn" onclick="document.getElementById('SITE_ICO').click();return false;">
                                    <i class="layui-icon">&#xe608;</i> 上传
                                  </button>
                                  <button class="del-thumb layui-btn layui-btn-primary hide">删除</button>
                                </if>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">电话</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_TELPHONE" autocomplete="off" class="layui-input" placeholder="" value="{$Think.config.SITE_TELPHONE}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">手机</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_PHONE" autocomplete="off" class="layui-input" placeholder="" value="{$Think.config.SITE_PHONE}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">传真</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_FAX" autocomplete="off" class="layui-input" placeholder="" value="{$Think.config.SITE_FAX}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">Email</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_EMAIL" autocomplete="off" class="layui-input" placeholder="" value="{$Think.config.SITE_EMAIL}">
                          </div>
                        </div>
                      </div>

                      <div class="layui-tab-item">
                        <div class="layui-form-item">
                          <label class="layui-form-label">版权信息</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_CR" autocomplete="off" class="layui-input" placeholder="" value="{$Think.config.SITE_CR}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">地址邮编</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_ADDRESS" autocomplete="off" class="layui-input" placeholder="" value="{$Think.config.SITE_ADDRESS}">
                          </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                          <label class="layui-form-label">其他信息</label>
                          <div class="layui-input-block">
                            <textarea name="SITE_AUTHER" placeholder="请输入内容" class="layui-textarea">{$Think.config.SITE_AUTHER}</textarea>
                          </div>
                        </div>
                      </div>

                      <div class="layui-tab-item">
                        <div class="layui-form-item">
                          <label class="layui-form-label">Title</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_TITLE" autocomplete="off" class="layui-input" value="{$Think.config.SITE_TITLE}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">Keywords</label>
                          <div class="layui-input-block">
                            <input type="text" name="SITE_KEYWORDS" autocomplete="off" class="layui-input" value="{$Think.config.SITE_KEYWORDS}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">Description</label>
                          <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="SITE_DESCRIPTION" class="layui-textarea">{$Think.config.SITE_DESCRIPTION}</textarea>
                          </div>
                        </div>
                      </div>

                      <div class="layui-tab-item">
                         <div class="layui-form-item">
                            <label class="layui-form-label">上传大小</label>
                            <div class="layui-input-block">
                              <input type="text" name="FILE_SIZE" autocomplete="off" class="layui-input" value="{$Think.config.FILE_SIZE}">
                            </div>
                            <div class="layui-word-aux" align="center">单位KB</div>
                          </div> 
                          <div class="layui-form-item">
                            <label class="layui-form-label">允许类型</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" name="FILE_TYPE" class="layui-textarea">{$Think.config.FILE_TYPE}</textarea>
                            </div>
                            <div class="layui-word-aux" align="center">请使用|隔开</div>
                          </div>
                      </div>

                      <div class="layui-tab-item">
                          <div class="layui-form-item" style="border-bottom: 1px solid #eee;">
                            <label class="layui-form-label">开启水印</label>
                            <div class="layui-input-block">
                            <if condition="$Think.config.WATE_OPEN eq 'true' ">
                              <input type="radio" name="WATE_OPEN" value="1" title="是" checked="checked">
                              <input type="radio" name="WATE_OPEN" value="2" title="否">
                            <else/>
                              <input type="radio" name="WATE_OPEN" value="1" title="是">
                              <input type="radio" name="WATE_OPEN" value="2" title="否" checked="checked">
                            </if>
                            </div>
                          </div>
                          <div class="layui-form-item" style="border-bottom: 1px solid #eee;">
                            <label class="layui-form-label">水印类型</label>
                            <div class="layui-input-block">
                              <if condition="$Think.config.WATE_TYPE eq '1' ">
                                <input type="radio" name="WATE_TYPE" value="1" title="图片水印" checked>
                                <input type="radio" name="WATE_TYPE" value="2" title="文字水印">
                              <else/>
                                <input type="radio" name="WATE_TYPE" value="1" title="图片水印">
                                <input type="radio" name="WATE_TYPE" value="2" title="文字水印" checked>
                              </if>
                            </div>
                          </div>
                          <div class="layui-form-item" style="border-bottom: 1px solid #eee;">
                            <label class="layui-form-label">添加方式</label>
                            <div class="layui-input-block">
                              <switch name="Think.config.WATE_ADD_WAY">
                                <case value="1">
                                  <input type="checkbox" value="1" name="WATE_ADD_WAY_1" lay-skin="primary" title="内容页图片添加" checked="">
                                  <input type="checkbox" value="2" name="WATE_ADD_WAY_2" lay-skin="primary" title="缩略图片添加">
                                </case>
                                <case value="2">
                                  <input type="checkbox" value="1" name="WATE_ADD_WAY_1" lay-skin="primary" title="内容页图片添加" >
                                  <input type="checkbox" value="2" name="WATE_ADD_WAY_2" lay-skin="primary" title="缩略图片添加" checked="">
                                </case>
                                <case value="3">
                                  <input type="checkbox" value="1" name="WATE_ADD_WAY_1" lay-skin="primary" title="内容页图片添加" checked="">
                                  <input type="checkbox" value="2" name="WATE_ADD_WAY_2" lay-skin="primary" title="缩略图片添加" checked="">
                                </case>
                                <default />
                              </switch>
                            </div>
                          </div>
                          <div class="layui-form-item" style="border-bottom: 1px solid #eee;">
                            <label class="layui-form-label">水印位置</label>
                            <div class="layui-input-block">
                              <switch name="Think.config.WATE_POSITION">
                                <case value="1">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" checked>
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中">
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="2">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" checked>
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="3">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上" checked>
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="4">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中" checked>
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="5">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间" checked>
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="6">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中" checked>
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="7">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下" checked>
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="8">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中" checked>
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下">
                                </case>
                                <case value="9">
                                  <input type="radio" name="WATE_POSITION" value="1" title="左上" >
                                  <input type="radio" name="WATE_POSITION" value="2" title="顶中" >
                                  <input type="radio" name="WATE_POSITION" value="3" title="右上">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="4" title="左中">
                                  <input type="radio" name="WATE_POSITION" value="5" title="中间">
                                  <input type="radio" name="WATE_POSITION" value="6" title="右中">
                                  <br/>
                                  <input type="radio" name="WATE_POSITION" value="7" title="左下">
                                  <input type="radio" name="WATE_POSITION" value="8" title="底中">
                                  <input type="radio" name="WATE_POSITION" value="9" title="右下" checked>
                                </case>
                                <default />
                              </switch>
                              
                            </div>
                          </div>
                          <div class="layui-form-item">
                            <label class="layui-form-label">缩略图水印</label>
                            <div class="layui-input-block">
                                <img src="" class="hide thumb-img" height="100px" width="auto">
                                <input type="hidden" name="WATE_THUMB" class="thumb-input" value="">
                                <input type="file" id="WATE_THUMB" class="hide">
                                <button class="layui-btn upload-btn" onclick="document.getElementById('WATE_THUMB').click();return false;">
                                  <i class="layui-icon">&#xe608;</i> 上传
                                </button>
                                <button class="del-thumb layui-btn layui-btn-primary hide">删除</button>
                            </div>
                            <div class="layui-form-mid layui-word-aux">仅支持.gif|.png格式</div>
                          </div>
                          <div class="layui-form-item">
                            <label class="layui-form-label">内容图水印</label>
                            <div class="layui-input-block">
                                <img src="" class="hide thumb-img" height="100px" width="auto">
                                <input type="hidden" name="WATE_CONTENT" class="thumb-input" value="">
                                <input type="file" id="WATE_CONTENT" class="hide">
                                <button class="layui-btn upload-btn" onclick="document.getElementById('WATE_CONTENT').click();return false;">
                                  <i class="layui-icon">&#xe608;</i> 上传
                                </button>
                                <button class="del-thumb layui-btn layui-btn-primary hide">删除</button>
                            </div>
                            <div class="layui-form-mid layui-word-aux">仅支持.gif|.png格式</div>
                          </div>
                      </div>
                      
                      <div class="layui-tab-item">
                        <div class="layui-form-item">
                          <label class="layui-form-label">顶部</label>
                          <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="CODE_HEAD" class="layui-textarea">{$Think.config.CODE_HEAD}</textarea>
                          </div>
                          <div class="layui-word-aux" align="center">代码会放在 &lt;/head&gt; 标签以上</div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">底部</label>
                          <div class="layui-input-block">
                            <textarea placeholder="请输入内容" name="CODE_BODY" class="layui-textarea">{$Think.config.CODE_BODY}</textarea>
                          </div>
                          <div class="layui-word-aux" align="center">代码会放在 &lt;/body&gt; 标签以上</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="site-demo-button" style="margin-left: 50px;">
                  <input type="submit" value="保存设置" class="layui-btn site-demo-active submit">
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
<include file="Public:footer"/>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer','element','form'], function(){
        var layer = layui.layer
        ,form = layui.form()
        ,element = layui.element();

      //上传logo
      $('#SITE_LOGO').bind('change',function(){
        //限制文件类型与大小
        var options = {
          'id'      : '#SITE_LOGO',
          'filePath': $(this).val(),
          'fileSize': {$Think.config.FILE_SIZE},
          'fileType': ['jpg','jpeg','png','gif']
        };
        //调用上传方法
        fileUpload(options,'#SITE_LOGO','{:U("Public/uploadLogo")}');
      });
       //上传ico
      $('#SITE_ICO').bind('change',function(){
        //限制文件类型与大小
        var options = {
          'id'      : '#SITE_ICO',
          'filePath': $(this).val(),
          'fileSize': {$Think.config.FILE_SIZE},
          'fileType': ['ico']
        };
        //调用上传方法
        fileUpload(options,'#SITE_ICO','{:U("Public/uploadIco")}');
      });

      //上传缩略图水印
      $('#WATE_THUMB').bind('change',function(){
        //限制文件类型与大小
        var options = {
          'id'      : '#WATE_THUMB',
          'filePath': $(this).val(),
          'fileSize': {$Think.config.FILE_SIZE},
          'fileType': ['png','gif']
        };
        //调用上传方法
        fileUpload(options,'#WATE_THUMB','{:U("Public/uploadWateThumb")}');
      });

       //上传内容页面图片水印
      $('#WATE_CONTENT').bind('change',function(){
        //限制文件类型与大小
        var options = {
          'id'      : '#WATE_CONTENT',
          'filePath': $(this).val(),
          'fileSize': {$Think.config.FILE_SIZE},
          'fileType': ['png','gif']
        };
        //调用上传方法
        fileUpload(options,'#WATE_CONTENT','{:U("Public/uploadWateContent")}');
      });
  });
</script>
</body>
</html>