<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>演示：Thinkphp数据库在线备份下载和还原</title>
        <meta name="keywords" content="Thinkphp数据库备份,数据库操作" />
        <meta name="description" content="本文以实例演示了Thinkphp数据库备份、下载和还原，你也可以简单的改成不基于Thinkphp的框架的PHP代码，很方便的应用到你的后台数据库管理应用中。" />
        <link rel="stylesheet" type="text/css" href="http://www.sucaihuo.com/jquery/css/common.css" />

    </head>
    <body>
        <div class="head">
            <div class="head_inner clearfix">
                <ul id="nav">
                    <li><a href="http://www.sucaihuo.com">首 页</a></li>
                    <li><a href="http://www.sucaihuo.com/templates">网站模板</a></li>
                    <li><a href="http://www.sucaihuo.com/js">网页特效</a></li>
                    <li><a href="http://www.sucaihuo.com/php">PHP</a></li>
                    <li><a href="http://www.sucaihuo.com/site">精选网址</a></li>
                </ul>
                <a class="logo" href="http://www.sucaihuo.com"><img src="http://www.sucaihuo.com/Public/images/logo.jpg" alt="素材火logo" /></a>
            </div>
        </div>
        <div class="container">
            <div class="demo">
                <h2 class="title"><a href="http://www.sucaihuo.com/js/165.html">教程：Thinkphp数据库在线备份下载和还原</a></h2>

                <table class="table_parameters" border="0" cellSpacing="0" cellPadding="0" width="100%">
                    <tbody>
                        <tr class="tr_head">
                            <th width="40px">序号</th>
                            <th>文件名</th>
                            <th width="150px">备份时间</th>
                            <th width="130px">文件大小</th>
                            <th width="100px">操作</th>
                        </tr>
                        <notempty  name="lists">

                            <foreach name="lists" key="key" item="row">
                                <if condition="$key gt 1">
                                    <tr>
                                        <td>{$key-1}</td>
                                        <td style="text-align: left"><a href="{:U('Bak/index',array('Action'=>'download','file'=>$row))}">{$row}</a></td>
                                        <td>{$row|getfiletime=$datadir}</td>
                                        <td>{$row|getfilesize=$datadir}</td>
                                        <td>
                                            <a href="{:U('Bak/index',array('Action'=>'download','file'=>$row))}">下载</a>
                                            <a onclick="return confirm('确定将数据库还原到当前备份吗？')"href="{:U('Bak/index',array('Action'=>'RL','File'=>$row))}">还原</a>
                                            <a onclick="return confirm('确定删除该备份文件吗？')"href="{:U('Bak/index',array('Action'=>'Del','File'=>$row))}">删除</a>
                                        </td>
                                    </tr>
                                </if>
                            </foreach>
                            <else/>
                            <tr>
                                <td colspan="7">没有找到相关数据。</td>
                            </tr>

                        </notempty>
                    </tbody>
                </table>
                <p>     
                    <a class="btn" type="button" onClick="location.href = '__URL__/index/Action/backup'">备份添加</a>
                </p>
            </div>
        </div>
        <div class="foot">
            Powered by sucaihuo.com  本站皆为作者原创，转载请注明原文链接：<a href="http://www.sucaihuo.com" target="_blank">www.sucaihuo.com</a>
        </div>
        <script type="text/javascript" src="http://www.sucaihuo.com/Public/js/other/jquery.js"></script> 
        <script type="text/javascript">
        </script>
    </body>
</html>