<include file="Public:header"/>
	<div class="content mb50">
		<div class="container">
		<style type="text/css">
			.form ul li{
				margin-top: 10px;
			}
			.form ul li textarea,
			.form ul li input{
				border: 1px solid #eee;
			}
		</style>
			<form method="post" class="message_form">
				<div class="form">
					<ul>
						<li>
							<label>
								标题:<input type="text" name="title" value="" >
							</label>
						</li>
						<li>
							<label>
								邮箱:<input type="text" name="email" value="" >
							</label>
						</li>
						<li>
							<label>
								留言内容:<textarea style="width:300px;height:80px;" name="content"></textarea>
							</label>
						</li>
						<li>
							<input type="submit" value="提交" id="message">
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
<include file="Public:footer"/>
