<include file="Public:header" />
		<div class="position">
			<div class="container clear">
				<div class="left float_l">
					<p>
						<span class="h2">
							{$cate['catname']}
						</span>
						<span class="h4">{$cate['alias']}</span>
					</p>
				</div>
				<div class="right float_r">
					<p>
						<i class="icon-home"></i>
						<a href="/">首页</a>>
						<position />
					</p>
				</div>
			</div>
		</div>
		<div class="content list service">
			<div class="container">
				<ul>
				<foreach name="articles" item="vo">
					<li class="clear">
						<div class="img float_l">
							<a href="{:U('/show/'.$vo['id'])}">
								<img src="{$vo.thumb}" alt="{$vo.title}" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="{:U('/show/'.$vo['id'])}">{$vo.title}</a></h2>
							<p>{$vo.summary}</p>
							<span class="date">{$vo['addtime']|date='Y-m-d',###}</span>
						</div>
					</li>
				</foreach>
				</ul>
				<div class="pages">
					{$page}
				</div>
			</div>
		</div>
<include file="Public:footer" />
