<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="{:U('Article/search')}" method="post" class="searchForm">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select style="height:28px;" name="catid" class="common-text">
                                    <option value="0">全部</option>
                                    <volist name="categories" id="c">
                                      <option value="{$c.id}" {($c['id']==$pid || $c['id']==$post['catid'])?'selected="selected"':''}>{$c.html}{$c.catname}</option>
                                    </volist>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="{$post.keywords}" type="text"></td>
                            <td><input class="layui-btn layui-btn-small btn2" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form method="post" action="{:U('Article/updateSort')}" class="sortForm ">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Article/add')}"><i class="iconfont">&#xe762;</i>新增文章</a>
                        <a id="batchDelArticle" href="javascript:void(0)"><i class="iconfont">&#xe6d3;</i>批量删除</a>
                        <a id="updateSortArticle" href="javascript:void(0)"><i class="iconfont">&#xe611;</i>更新排序</a>
                        <div class="inline-block removebox">
                            <select style="height:28px;" name="catid" class="common-text selectCatid">
                                <volist name="categories" id="c">
                                  <option value="{$c.id}" {($c['id']==$pid || $c['id']==$post['catid'])?'selected="selected"':''}>{$c.html}{$c.catname}</option>
                                </volist>
                            </select>
                            <input id="removeArticle" class="ml10 layui-btn layui-btn-small btn2" value="批量移动" type="button">
                        </div>
                    </div>
                </div>
                <div class="result-content">
                    <table class="layui-table layui-form">
                      <thead>
                        <tr>
                            <th width="3%"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                            <th width="5%">排序</th>
                            <th>标题</th>
                            <th width="6%">点击</th>
                            <th width="10%">发布人</th>
                            <th width="15%">添加时间</th>
                            <th width="12%">状态</th>
                            <th width="12%">操作</th>
                        </tr> 
                      </thead>
                      <tbody>
                        <volist name="articles" id="a">
                            <tr data-id="{$a.id}">
                                <td><input class="set" value="{$a.id}" type="checkbox" lay-skin="primary"></td>
                                <td><input class="common-text common-text-center" size="3" type="text" value="{$a.sort}" name="{$a.id}"></td>
                                <td>{$a.title|substr=0,27}
                                <if condition="$a.thumb neq '' ">
                                    <i style="cursor: pointer;vertical-align: middle;" class="layui-icon icon-thumb" data-src="{$a.thumb}">&#xe64a;</i>
                                <else /></if>
                                </td>
                                <td>{$a.hits}</td>
                                <td>{$a.author}</td>
                                <td>{$a.addtime|date="Y-m-d h:m:s",###}</td>
                                <td>
                                    {$a['is_rec']==1?'<span class="text-info">推荐</span>':''}
                                    {$a['is_top']==1?'<span class="text-success">置顶</span>':''}
                                    {$a['is_hot']==1?'<span class="text-hot">热门</span>':''}
                                </td>
                                <td>
                                    <div class="layui-btn-group">
                                        <a title="修改" class="layui-btn layui-btn-small" href="{:U('Article/edit',array('id'=>$a['id']))}">
                                            <i class="layui-icon">&#xe642;</i>
                                        </a>
                                        <a title="删除" class="layui-btn layui-btn-small layui-btn-danger delOneArticle" href="javascript:;">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                      </tbody>
                    </table>
                    <div id="pages">
                        {$page}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
<include file="Public:footer"/>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer','form'], function(){
            var form = layui.form();
          var layer = layui.layer;
          //全选
          form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody .set');
            child.each(function(index, item){
              item.checked = data.elem.checked;
            });
            form.render('checkbox');
          });
    });
    //复选框选中后显示移动栏目下拉菜单和按钮
    $('#removeArticle').on('click',function(){
        $trs = $('.result-content table tbody tr input:checked');
        if(!$trs.length){
            layer.alert('请选中需要移动的文章!', {icon: 2});
            return;
        }
        //获取选中的ID
        var ids = [];
        $trs.filter(function(index) {
            return ids.push($($trs[index]).val());
        });
        //ids = ids.join(',');
        //获取移动到的栏目的ID
        var $catid = $('.selectCatid').val();
        var url = '{:U("Article/remove")}';
        var redirectUrl = '{:U("Article/index")}';
        removeArticle(ids,url,$catid,redirectUrl);
        //ajax移动文章
        function removeArticle(ids,url,catid,redirectUrl){
            $.ajax({
                url: url,
                dataType: 'json',
                data: {'ids': ids,'catid': catid},
                success: function(res){
                    if(res.status == 1){
                        layer.alert(res.msg, {icon: 1});
                        window.setTimeout(function(){
                            window.location.href = redirectUrl;
                        },1500);
                    }else{
                        layer.alert(res.msg, {icon: 2});
                    }
                },
                error: function(res){
                    layer.alert(res.msg, {icon: 2});
                }
            })
        }
    });
    //删除单个文章
    $(function(){
        $('.delOneArticle').on('click',function(){
                $trEle = $(this).parents('tr');//当前栏目的tr节点
                var url = "{:U('Article/del')}";//提交删除的地址
                var eleId = $trEle.data('id');//当前文章的id
                var flag = true;
                //提示
                layer.confirm('确定要删除该文章？', {icon: 3, title:'提示'}, function(index){
                delArticleById(eleId,url,'get',$trEle);
            });
        });
    });
    //批量删除文章
    $(function(){
        $('#batchDelArticle').on('click',function(){
            //获取所有选中的文章
            $trs = $('.result-content table tbody tr input:checked');
            if(!$trs.length){
                layer.alert('请选中需要删除的文章!', {icon: 2});
                return;
            }
            //获取选中的ID
            var ids = [];
            $trs.filter(function(index) {
                return ids.push($($trs[index]).val());
            });

            var url = "{:U('Article/del')}";//提交删除的地址
            ids = ids.join(',');
            $elems = $trs.parents('tr');
            //提示
            layer.confirm('确定要删除选中的文章吗？', {icon: 3, title:'提示'}, function(index){
                delArticleById(ids,url,'get',$elems);
            });
        });
    });
    
    //批量更新栏目排序
    $(function(){
        $('#updateSortArticle').on('click',function(){
          $('.sortForm').submit();return;
        });
    });
</script>
</body>
</html>