<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a>首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select style="height:28px;" name="search-sort" id="" class="common-text">
                                    <option value="">全部</option>
                                    <volist name="categories" id="c">
                                      <option value="{$c.id}" {$c['id']==$pid?'selected="selected"':''}>{$c.html}{$c.catname}</option>
                                    </volist>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="layui-btn layui-btn-small btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form method="post" action="{:U('Article/updateSort')}" class="sortForm">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Article/add')}"><i class="icon-font"></i>新增文章</a>
                        <a id="batchDelArticle" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateSortArticle" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                        <a id="removeAll" href="javascript:void(0)"><i class="layui-icon">&#xe60a;</i>批量移动</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="layui-table">
                      <thead>
                        <tr>
                            <th width="3%"><input name="" type="checkbox"></th>
                            <th width="5%">排序</th>
                            <th>标题</th>
                            <th width="6%">点击</th>
                            <th width="10%">发布人</th>
                            <th width="15%">添加时间</th>
                            <th width="12%">状态</th>
                            <th width="12%">操作</th>
                        </tr> 
                      </thead>
                      <tbody>
                        <volist name="articles" id="a">
                            <tr data-id="{$a.id}">
                                <td><input class="set" value="{$a.id}" type="checkbox"></td>
                                <td><input class="common-text common-text-center" size="3" type="text" value="{$a.sort}" name="{$a.id}"></td>
                                <td>{$a.title|substr=0,27}
                                <if condition="$a.thumb neq '' ">
                                    <i style="cursor: pointer;vertical-align: middle;" class="layui-icon icon-thumb" data-src="{$a.thumb}">&#xe64a;</i>
                                <else /></if>
                                </td>
                                <td>{$a.hits}</td>
                                <td>{$a.author}</td>
                                <td>{$a.addtime|date="Y-m-d h:m:s",###}</td>
                                <td>
                                    {$a['is_rec']==1?'<span class="text-info">推荐</span>':''}
                                    {$a['is_top']==1?'<span class="text-success">置顶</span>':''}
                                    {$a['is_hot']==1?'<span class="text-hot">热门</span>':''}
                                </td>
                                <td>
                                    <div class="layui-btn-group">
                                        <a title="修改" class="layui-btn layui-btn-small" href="{:U('Article/edit',array('id'=>$a['id']))}">
                                            <i class="layui-icon">&#xe642;</i>
                                        </a>
                                        <a title="删除" class="layui-btn layui-btn-small layui-btn-danger delOneArticle" href="javascript:;">
                                            <i class="layui-icon">&#xe640;</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                      </tbody>
                    </table>
                    <div id="pages">
                        {$page}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
<include file="Public:footer"/>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer'], function(){
          var layer = layui.layer;
    });
    //删除单个文章
    $(function(){
        $('.delOneArticle').on('click',function(){
                $trEle = $(this).parents('tr');//当前栏目的tr节点
                var url = "{:U('Article/del')}";//提交删除的地址
                var eleId = $trEle.data('id');//当前文章的id
                var flag = true;
                //提示
                layer.confirm('确定要删除该文章？', {icon: 3, title:'提示'}, function(index){
                delArticleById(eleId,url,'get',$trEle);
            });
        });
    });
    //批量删除文章
    $(function(){
        $('#batchDelArticle').on('click',function(){
            //获取所有选中的文章
            $trs = $('.result-content table tbody tr input:checked');
            
            //获取选中的ID
            var ids = [];
            $trs.filter(function(index) {
                return ids.push($($trs[index]).val());
            });

            var url = "{:U('Article/del')}";//提交删除的地址
            ids = ids.join(',');
            $elems = $trs.parents('tr');
            //提示
            layer.confirm('确定要删除所有的文章吗？', {icon: 3, title:'提示'}, function(index){
                delArticleById(ids,url,'get',$elems);
            });
        });
    });
    //鼠标移动显示文章缩略图
    $(function(){
        $('.icon-thumb').hover(function(e) {
            var src = $(this).data('src');
            var xx = e.originalEvent.x || e.originalEvent.layerX || 0; 
            var yy = e.originalEvent.y || e.originalEvent.layerY || 0; 
            yy = yy - 50;
            xx = xx + 30;
            var html = '<img class="_img" src="'+src+'" style="display:none; max-height:100px;width:auto;position: fixed;z-index: 999;left:'+xx+'px;top:'+yy+'px;">';
            $('body').append(html);
            $('._img').fadeIn('slow');

        }, function(e) {
            $('._img').fadeOut('slow').remove();
        });
    });
    //批量更新栏目排序
    $(function(){
        $('#updateSortArticle').on('click',function(){
          $('.sortForm').submit();return;
        });
    });
</script>
</body>
</html>