<include file="Public:header"/>
<div class="container clearfix">
    <include file="Public:left"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="iconfont">&#xe607;</i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">广告管理</span></div>
        </div>

        <div class="result-wrap">
            <form method="post" action="{:U('Links/updateSort')}" class="sortForm layui-form">
                <div class="result-title">
                    <div class="result-list">
                        <a href="javascript:;" class="addPlate"><i class="iconfont">&#xe762;</i>新增板块</a>
                        <a class="batchDel" href="javascript:void(0)"><i class="iconfont">&#xe6d3;</i>批量删除</a>
                        <!-- <a class="updateOrd" href="javascript:void(0)"><i class="iconfont">&#xe611;</i>更新排序</a> -->
                    </div>
                </div>
                <div class="result-content" style="max-height: 850px;overflow: auto;">
                    <table class="layui-table">
                      <thead>
                        <tr>
                            <th width="3%"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                            <th width="6%">ID</th>
                            <th>板块名称</th>
                            <th width="20%">添加时间</th>
                            <th width="26%">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                    <volist name="plate" id="vo">
                        <tr data-id={$vo.id}>
                            <td><input class="set" type="checkbox" lay-skin="primary" value="{$vo.id}"></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}
                            </td>
                            <td>{$vo.addtime|date='Y-m-d H:i:s',###}
                            </td>
                            <td>
                                <div class="layui-btn-group">
                                    <a title="添加广告" class="addAds layui-btn layui-btn-small" href="javascript:;" data-id="{$vo.id}">
                                       添加广告
                                    </a>
                                    <a title="广告列表" class="layui-btn layui-btn-small plateList" href="javascript:;" data-id="{$vo.id}">
                                        广告列表
                                    </a>
                                    <a title="修改" class="editPlate layui-btn layui-btn-small" href="javascript:;" data-id="{$vo.id}">
                                       修改
                                    </a>
                                    <a title="删除" class="layui-btn layui-btn-small layui-btn-danger delOnePlate" href="javascript:;" data-id="{$vo.id}">
                                        删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </volist>
                      </tbody>
                    </table>
                    <div class="result-title">
                        <div class="result-list">
                            <a href="javascript:;" class="addPlate"><i class="iconfont">&#xe762;</i>新增板块</a>
                            <a class="batchDel" href="javascript:void(0)"><i class="iconfont">&#xe6d3;</i>批量删除</a>
                            <!-- <a class="updateOrd" href="javascript:void(0)"><i class="iconfont">&#xe611;</i>更新排序</a> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--添加板块 S-->
    <div id="addPlate" style="display: none; padding-top:10px;padding-right:10px;padding-bottom: 10px;">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label">板块名</label>
            <div class="layui-input-block">
              <input type="text" name="name" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input name">
            </div>
          </div>

        <div class="layui-form-item">
            <label class="layui-form-label">板块描述</label>
            <div class="layui-input-block">
              <textarea name="desc" placeholder="请输入内容" class="layui-textarea desc"></textarea>
            </div>
        </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
            </div>
          </div>
        </form>
    </div>
     <!--添加板块 E-->
    <!--/main-->
</div>
<include file="Public:footer"/>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form','layer'], function(){
        var layer = layui.layer
        ,form = layui.form();
        //全选
          form.on('checkbox(allChoose)', function(data){
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function(index, item){
              item.checked = data.elem.checked;
            });
            form.render('checkbox');
          });

          //广告列表
          $('.plateList').on('click',function(){
            var id = $(this).data('id');
            window.location.href= '/Admin/Ads/adsList/plate_id/' + id;
          });

          //添加广告
          $('.addAds').on('click',function(){
            var id = $(this).data('id');
            layer.open({
              type: 2,
              title: '添加广告',
              fixed: false, //不固定
              maxmin: true,
              area: ['500px', '350px'],
              content: '/Admin/Ads/addAds/plate_id/' + id //iframe的url
            }); 
          });


          //修改板块
          $('.editPlate').on('click',function(){
            var id = $(this).data('id');
            layer.open({
              type: 2,
              title: '修改板块',
              fixed: false, //不固定
              maxmin: true,
              area: ['460px', '280px'],
              content: '/Admin/Ads/editPlate/id/' + id //iframe的url
            }); 
          });

           //添加板块
            form.on('submit(formDemo)', function(data){
              $.ajax({
                url: '{:U("Ads/addPlate")}',
                type: 'post',
                dataType: 'json',
                data: $(data.form).serialize(),
                success: function(res){
                  if(res.status == 1){
                    layer.alert(res.msg,{icon:1});   
                    window.setTimeout(function(){
                      window.location.href = "{:U('Ads/index')}";
                    },1500);
                  }else{
                    layer.alert(res.msg,{icon:2}); 
                  }
                },
                error: function(res){
                  console.log(res);
                }
              });
              return false;
            });
        //删除板块
        $('.batchDel').on('click',function(){
                //获取所有选中项
                $trs = $('.result-content table tbody tr input:checked');
                if(!$trs.length){
                    layer.alert('请选中需要删除的板块!', {icon: 2});
                    return;
                }
                //获取选中的ID
                var ids = [];
                $trs.filter(function(index) {
                    return ids.push($($trs[index]).val());
                });

                var url = '{:U("Ads/delPlate")}';
                ids = ids.join(',');
                var $elems = $trs.parents('tr');
                console.log($elems);
                debugger;
                layer.confirm('确定要删除选中的板块吗？', {icon: 3, title:'提示'}, function(index){
                    ajaxDeleteElems(ids,url,'post','',$elems);
            });
        });
        //删除单个板块
        $('.delOnePlate').on('click',function(){
            var id = $(this).data('id');
            var url = '{:U("Ads/delPlate")}';
            var $elems = $(this).parents('tr');
            layer.confirm('确定要删除选中的板块吗？', {icon: 3, title:'提示'}, function(index){
                ajaxDeleteElems(id,url,'post','',$elems);
            });
           
        });
    
    //显示添加板块界面
    $('.addPlate').click(function(){
        layer.open({
          type: 1,
          title: '添加广告板块',
          closeBtn: 1,
          area: ['460px', 'auto'],
          shadeClose: true,
          content: $('#addPlate'),
        });
    });     

});
   
</script>
</body>
</html>