<include file="Public:header" />
		<div class="position">
			<div class="container clear">
				<div class="left float_l">
					<p>
						<span class="h2">
							{$cate['catname']}
						</span>
						<span class="h4">{$cate['alias']}</span>
					</p>
				</div>
				<div class="right float_r">
					<p>
						<i class="icon-home"></i>
						<a href="/">首页</a>>
						<position />
					</p>
				</div>
			</div>
		</div>
		<div class="content list service">
			<div class="container">
				<ul>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_03.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_06.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_08.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_10.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
					<li class="clear">
						<div class="img float_l">
							<a href="">
								<img src="images/服务于支持_12.jpg" alt="" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="">新宁物流举行安徽睿德智造智能系统有限公司成立暨签约仪式</a></h2>
							<p>2016年9月18日，由新宁物流、明匠智能、张晖团队合资的安徽睿德智能系统有限公司成立暨签约仪式在新宁物
							流总部举行。新宁物流董事长王雅军、明匠智能董事长陈俊、张晖团队、德国弗劳恩霍夫物流研究院宋伟等近20
							人参加了本次签约仪式。
							</p>
							<span class="date">2016-12-16</span>
						</div>
					</li>
				</ul>
				<div class="pages">
					<p>
						<a href=""><</a>
						<span>1</span>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">></a>
					</p>
				</div>
			</div>
		</div>
<include file="Public:footer" />
