<include file="Public:header" />
		<div class="position">
			<div class="container clear">
				<div class="left float_l">
					<p>
						<span class="h2">
							{$cate['catname']}
						</span>
						<span class="h4">{$cate['alias']}</span>
					</p>
				</div>
				<div class="right float_r">
					<p>
						<i class="icon-home"></i>
						<a href="/">首页</a>>
						<position />
					</p>
				</div>
			</div>
		</div>
		<div class="content list service">
			<div class="container">
				<ul>
				<list order="order ASC" page="page" pageNum="1">
					<li class="clear">
						<div class="img float_l">
							<a href="{$url}">
								<img src="{$thumb}" alt="{$title}" height="230px" width="345px">
							</a>
						</div>
						<div class="text float_l">
							<h2><a href="{$url}">{$title}</a></h2>
							<p>{$summary}
							</p>
							<span class="date">{$addtime|date='Y-m-d',###}</span>
						</div>
					</li>
				</list>
				</ul>
				<div class="pages">
					<p>
						<a href=""><</a>
						<span>1</span>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="">></a>
					</p>
				</div>
			</div>
		</div>
<include file="Public:footer" />
